	:root{
		--default:'Atkinson Hyperlegible';
		--blue:#1891ff;
		--dark:#333;
	}
	body{
		background: #fff;
	}
	body.disablescroll{
		overflow-y:hidden;
	}
	.container{
		width: 1200px;
		margin: 0 auto 0 auto;
	}






	header{
		position: fixed;
		width: 100%;
		left: 0; top: 0;
		z-index: 2;
		padding: 40px 0;
		transition: 0.3s;
	}
	header.fixed{
		background: #172da0;
		padding: 20px 0;
		box-shadow: 5px 5px 5px rgba(0,0,0,0);
	}
	a.logo{
		float: left;
	}
	a.logo img{
		float: left;
		width: 180px; height: auto;
	}



	a.showmenu, a.hidemenu{
		display: none;
	}
	.menublock{
		float: right;
		margin: 0 0 0 0;
	}
	nav, nav ul, nav ul li{
		float: left;
	}
	nav ul li{
		font-family: var(--default);
		font-size: 14px;
		color: #fff;
		margin-right: 30px;
		text-transform: uppercase;
		letter-spacing: 3px;
	}
	nav ul li:last-of-type{
		margin-right: 0;
	}
	nav ul li a{
		float: left;
		color: #fff;
		text-decoration: none;
		padding: 8px 20px;
	}
	nav ul li.active a{
		background:#1891ff;
	}





	.banner{
		float: left;
		width: 100%;
		background: #2e4ae1;
		padding: 200px 0 100px 0;
	}
	.banner .text{
		float: left;
		width: 30%;
		font-family: var(--default);
	}
	.banner .text h1{
		font-size: 72px;
		color: #fff;
		margin-bottom: 50px;
	}
	.banner .text p{
		font-size: 18px;
		color: #fff;
		margin-bottom: 50px;
	}
	.banner .text a{
		font-size: 21px;
		color: var(--blue);
		text-decoration: none;
		font-style: italic;
	}
	.banner .visual{
		float: right;
		width: 58%;
	}





	.about{
		float: left;
		width: 100%;
		padding: 100px 0 100px 0;
	}
	.about .text{
		float: left;
		width: 100%;
		font-family: var(--default);
	}
	.about .text h2{
		width: 30%;
		font-size: 72px;
		color: #000;
		margin-bottom: 50px;
	}
	.about .text .para{
		width: 58%;
	}
	.about .text p{
		font-size: 18px;
		color: #000;
		margin-bottom: 20px;
	}
	.about .visual{
		float: left;
		width: 100%;
		margin-top: 60px;
	}
	.about .visual img{
		float: left;
		width: 100%;
		height: auto;
		aspect-ratio: 16/8;
	}



	.services{
		float: left;
		width: 100%;
		padding: 100px 0 100px 0;
		font-family: var(--default);
	}
	.services h2{
		font-size: 72px;
		color: #000;
		margin-bottom: 50px;
	}
	.services-items{
		float: left;
		width: 100%;

	}
	.services-items .item{
		float: left;
		width: 30%;
		margin-bottom: 60px;
		padding: 40px 40px;
		text-align: center;
		background: #fff;
		border: 1px solid #ddd;
		color: #000;
		transition: 0.3s;
	}
	.services-items .item.type2{
		background: #1891ff;
		border: 1px solid #116fc4;
		color: #fff;
	}
	.services-items .item i{
		width: 60px; height: 60px;
		font-size: 48px;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	.services-items .item h3{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.services-items .item p{
		font-size: 16px;
	}





	.projects{
		float: left;
		width: 100%;
		margin:0 0 0 0;
		padding: 100px 0;
		background: #f7f7f7;
	}
	.project-item{
		float: left;
		width: 100%;
		margin-bottom: 100px;
	}
	.project-item:last-of-type{
		margin-bottom: 0;
	}
	.project-item .text{
		width: 45%;
		font-family: var(--default);
		color: #000;
	}
	.project-item .text h3{
		font-size: 48px;
		margin-bottom: 30px;
	}
	.project-item .text p{
		font-size: 16px;
		margin-bottom: 20px;
	}
	.project-item .visual{
		width: 45%;
	}
	.project-item .visual img{
		float: left;
		width: 100%;
		height: auto;
		object-fit: cover;
		object-position: center;
		aspect-ratio: 16/9;
	}





	.contact{
		float: left;
		width: 100%;
		background: #2e4ae1;
		padding: 100px 0;
		font-family: var(--default);
	}
	.contact h2{
		font-size: 72px;
		color: #fff;
		margin-bottom: 50px;
	}
	.contact-options{
		float: left;
		width: 100%;
		height: auto;
		margin: 0 0 0 0;
	}
	.formarea{
		float: left;
		width: 60%;
	}
	form.contactform{
		float: left;
		width: 100%;
	}
	form.contactform fieldset{
		float: left;
		width: 100%;
		border: none;
		margin-bottom: 30px;
	}
	form.contactform fieldset.half{
		width: 48%;
	}
	form.contactform fieldset.full{
		width: 100%;
	}
	form.contactform fieldset label{
		float: left;
		width: 100%;
		font-size: 16px;
		color: #fff;
		margin-bottom: 10px;
	}
	form.contactform fieldset input,
	form.contactform fieldset textarea{
		float: left;
		width: 100%;
		height: 48px;
		font-size: 16px;
		color: #000;
		margin-bottom: 10px;
		border: none;
		outline: 0;
		padding: 0 0 0 20px;
	}
	form.contactform fieldset textarea{
		height: 160px;
		padding: 20px;
	}
	form.contactform button{
		float: left;
		width: 190px;
		height: 52px;
		background: var(--blue);
		cursor: pointer;
		text-align: center;
		color: #fff;
		font-size: 16px;
		text-transform: uppercase;
		border: none;
	}
	.contact-info{
		float: right;
		width: 35%;
	}
	.contact-info ul{
		float: left;
		width: 100%;
	}
	.contact-info ul li{
		font-size: 18px;
		color: #fff;
		margin-bottom: 25px;
	}
	.contact-info ul li a{
		color: #fff;
	}


	footer{
		float: left;
		width: 100%;
		background: #172da0;
		padding: 40px 0;
	}
	footer .copyright{
		float: left;
		color: #fff;
		font-size: 16px;
		font-family: var(--default);
	}
	footer .copyright a{
		color: #fff;
		text-decoration: none;
	}
	footer .social{
		float: right;
	}
	footer .social a{
		float: left;
		color: #fff;
		font-size: 16px;
		margin-left: 10px;
		transition: 0.8s;
	}
	footer .social a:hover{
		color: var(--blue);
		transform: rotateY(360deg);
	}